<div style="display: flex; flex-direction: column; align-items: center; padding-top: 120px; width: 80%; margin: 0 auto">

    <span style="font-size: 48px; font-weight: 300"><span style="color: #7c5a9d">Uni<b>City</b></span></span>
    <span style="font-size: 35px; font-weight: 300; margin-top: 10px;">Discover the cities behind the unis</span>

    <div class="search-container">

        <div style="display: flex; flex-direction: column; width: 84%">
            <span style="margin: 6px 20px 0 20px; font-weight: 500">Find a city</span>
            <input type="text" ng-model="search" class="city-input" placeholder="e.g. London" ng-focus="focused=true" ng-blur="focused=false">
        </div>
        <div style="display: flex; align-items: center; margin-right: 30px">
            <i class='material-icons' style="font-size: 32px" ng-class="getSearchLogoStyle(focused)">search</i>
        </div>

    </div>

    <div class="city-cards-container">
        <div class="city-cards" ng-repeat="city in cities | filter: search | orderBy: order" style="display: flex; justify-content: space-between">

            <div class="parent" ng-click="viewCity(city.name)">
                <div class="child" style="background-image: url('img/{{city.name}}.png')">
                    <div class="child-text">
                        <span>{{city.name}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
