<div>

    <div class="background-img" style="background-image: url('img/{{cityName}}.png')">


        <div style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-image: -webkit-linear-gradient(top, transparent 0%,rgba(20, 27, 46, 0.5) 40%,#141b2e 100%)">

            <span class="city-name">{{cityName}}</span>

            <div style="display: flex; flex-direction: horizontal; justify-content: space-between; width: 50%; margin-top: 60px">

                <div style="display: flex; flex-direction: column; align-items: center">
                    <img src="icon/placeholder.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">NIGHTLIFE RATING</span>
                    <span class="key-info-figure">{{cityData.nightlife.rating}}</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center">
                    <img src="icon/home.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">MONTHLY RENT</span>
                    <span class="key-info-figure">&pound;{{cityData.rent.median}}</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center">
                    <img src="icon/wifi.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">BROADBAND SPEED</span>
                    <span class="key-info-figure">{{cityData.broadband.speed}}</span>
                </div>

            </div>

        </div>

        <div class="about-container">

            <div style="padding: 10px 100px 70px 100px">

                <span class="key-info-label">ABOUT</span><br><br>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis orci blandit nisi porttitor ultricies. Integer porttitor felis eu nulla iaculis, eget dictum ex tristique. Integer et vestibulum tortor. Nam rutrum odio metus, in eleifend orci accumsan eget. Suspendisse condimentum in sem nec interdum. Phasellus euismod ligula ipsum, non rhoncus tortor pretium nec. Praesent urna lorem, consectetur eget odio eget, sagittis elementum purus. Nullam sit amet mauris quis lectus finibus dictum vehicula ac odio. Sed in libero sit amet elit tincidunt pulvinar. Nullam aliquet porttitor nisl, nec scelerisque felis rhoncus at. In eget mi mollis, maximus neque eu, ornare nulla. Integer at risus at libero feugiat placerat.</p>

            </div>

        </div>

        <div style="padding: 70px 100px 100px 100px">

            <span>ABOUT</span><br><br>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis orci blandit nisi porttitor ultricies. Integer porttitor felis eu nulla iaculis, eget dictum ex tristique. Integer et vestibulum tortor. Nam rutrum odio metus, in eleifend orci accumsan eget. Suspendisse condimentum in sem nec interdum. Phasellus euismod ligula ipsum, non rhoncus tortor pretium nec. Praesent urna lorem, consectetur eget odio eget, sagittis elementum purus. Nullam sit amet mauris quis lectus finibus dictum vehicula ac odio. Sed in libero sit amet elit tincidunt pulvinar. Nullam aliquet porttitor nisl, nec scelerisque felis rhoncus at. In eget mi mollis, maximus neque eu, ornare nulla. Integer at risus at libero feugiat placerat.</p>

        </div>        
        <div google-chart chart="foodChart" style="height:600px; width:100%;"></div>
    </div>

</div>
