<div>

    <div class="background-img" style="background-image: url('img/{{cityName}}.png')">

        <div class="img-overlay">

            <span class="city-name" ng-if="cityData !== undefined">{{cityName}}</span>

            <div class="info-container" ng-if="cityData !== undefined">

                <div class="key-info">
                    <img src="icon/placeholder.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">NIGHTLIFE RATING</span>
                    <span class="key-info-figure">{{cityData.nightlife.rating}}</span>
                    <span class="key-info-rating">{{getStringRating(cityData.nightlife.rating)}}</span>
                </div>

                <div class="key-info">
                    <img src="icon/home.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">MONTHLY RENT</span>
                    <span class="key-info-figure">&pound;{{cityData.rent.median}}</span>
                    <span class="key-info-rating">{{getStringRating((cityData.rent.rating - 10)*-1)}}</span>
                </div>

                <div class="key-info">
                    <img src="icon/wifi.png" style="width: 50px; height: auto; margin-bottom: 18px">
                    <span class="key-info-label">BROADBAND SPEED</span>
                    <span class="key-info-figure">{{cityData.broadband.speed}}</span>
                    <span class="key-info-rating">{{getStringRating(cityData.broadband.rating)}}</span>
                </div>

            </div>

        </div>

    </div>

    <div class="about-container">

        <div style="padding: 10px 100px 70px 100px">

            <span class="key-info-label">ABOUT</span><br><br>

                <p>{{cityData.description}}</p>
                <a class="wiki-link" href="http://en.wikipedia.org/wiki/{{cityData.wikipedia}}">Read more on Wikipedia</a>
        </div>

    </div>

    <div style="padding: 80px 100px 100px 100px">

        <span class="content-title">LIVING COSTS</span><br><br>
        <div style="display: flex; flex-direction: horizontal; justify-content: space-between; align-items: center; margin-top: 40px">
            <div style="display: flex; flex-direction: column; width: 400px; margin-right: 40px">
                <div style="display: flex; flex-direction: horizontal; align-items: center">
                    <i class='material-icons' style="font-size: 24px; color: #3A4C81; margin-right: 6px">home</i>
                    <span style="font-weight: 400; font-size: 24px; color: #3A4C81">AVERAGE MONTHLY RENT</span>
                </div>
                <span style="font-weight: 600; font-size: 48px">&pound;{{cityData.rent.median}}</span>
                <p>The monthly rent in {{cityName}} is <span style="color: #3A4C81; font-weight: 700; text-transform: lowercase">{{getStringRating((cityData.rent.rating - 10)*-1)}}</span> when compared against other UK cities.</p>
            </div>
            <div google-chart chart="rentChart" style="width:660px; height: 340px;"></div>
        </div>

        <div style="display: flex; flex-direction: horizontal; justify-content: space-between; align-items: center; margin-top: 40px">

            <div style="display: flex; flex-direction: column; width: 400px; margin-right: 40px">
                <div style="display: flex; flex-direction: horizontal; align-items: center">
                    <i class='material-icons' style="font-size: 24px; color: #7c5a9d; margin-right: 6px">local_grocery_store</i>
                    <span style="font-weight: 400; font-size: 24px; color: #7c5a9d">AVERAGE WEEKLY FOOD SPEND</span>
                </div>
                <span style="font-weight: 600; font-size: 48px">&pound;{{cityData.food.foodAverage}}</span>
                <p>The weekly food shopping cost in {{cityName}} is <span class="text-highlight">{{getStringRating((cityData.food.foodRating - 10)*-1)}}</span> in comparison to other UK cities.</p>
            </div>

            <div google-chart chart="foodChart" style="width:660px; height: 340px;"></div>
        </div>

        <div style="border-width: 0px; border-bottom-width: 1px; border-color: #ddd; border-style: solid; width: 100%; margin: 60px 0"></div>

        <span class="content-title">CRIME</span><br><br>
        <div style="display: flex; flex-direction: horizontal; justify-content: space-between; align-items: center; margin-top: 40px">
            <div style="display: flex; flex-direction: column; width: 400px; margin-right: 40px">
                <div style="display: flex; flex-direction: horizontal; align-items: center">
                    <i class='material-icons' style="font-size: 24px; color: #3A4C81; margin-right: 6px">warning</i>
                    <span style="font-weight: 400; font-size: 24px; color: #3A4C81">OFFENCES PER 1000 PEOPLE</span>
                </div>
                <span style="font-weight: 600; font-size: 48px">{{cityData.crimeData.total}}</span>
                <p>The crime rate in {{cityName}} is <span style="color: #3A4C81; font-weight: 700; text-transform: lowercase">{{getStringRating((cityData.crimeData.rating - 10)*-1)}}</span> when compared against other UK cities.</p>
            </div>
            <div google-chart chart="crimeChart" style="width:660px; height: 340px;"></div>
        </div>

        <div style="border-width: 0px; border-bottom-width: 1px; border-color: #ddd; border-style: solid; width: 100%; margin: 60px 0"></div>

        <span class="content-title">ENTERTAINMENT</span><br><br>

        <div class="places-container">

        <div ng-repeat="place in cityData.nightlife.topClubs">

            <div class="place-container">
                <div style="display: flex; flex-direction: column">
                    <span class="place-name">{{place.name}}</span>
                    <span class="place-address">
                        <i class='material-icons' style="font-size: 16px; color: #666; margin-right: 2px">location_on</i>
                        <a ng-click="openMap(place.formatted_address)">{{place.formatted_address.split(", United Kingdom")[0]}}</a>
                    </span>
                    <div style="display: flex; flex-direction: row">
                        <div class="place-type-tag" ng-if="place.types.includes('night_club')">
                            <i class='material-icons' style="font-size: 12px; color: #fff; margin-left: 10px; margin-right: 4px">music_note</i>
                            <span style="color:#fff">night club</span>
                        </div>
                        <div class="place-type-tag" ng-if="place.types.includes('bar')">
                            <i class='material-icons' style="font-size: 12px; color: #fff; margin-left: 10px; margin-right: 4px">local_bar</i>
                            <span style="color:#fff">bar</span>
                        </div>
                        <div class="place-type-tag" ng-if="place.types.includes('food')">
                            <i class='material-icons' style="font-size: 12px; color: #fff; margin-left: 10px; margin-right: 4px">local_dining</i>
                            <span style="color:#fff">food</span>
                        </div>
                    </div>
                </div>
                <div class="place-rating-ring">
                    <span class="place-rating-text">{{place.rating}}</span>
                    <span>out of 5</span>
                </div>
            </div>

        </div>

        </div>

    </div>

</div>
