.background-img {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    z-index: 10;
    top: 0;
}

.img-overlay {
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-image: -webkit-linear-gradient(top, transparent 0%,rgba(20, 27, 46, 0.5) 40%,#141b2e 100%)
}

.city-name {
    font-family: 'Lato';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white; 
    font-size: 65px; 
    text-shadow: 0px 0px 15px rgba(20, 27, 46, 0.6)
}

.key-info-label {
    font-weight: 600; 
    color: white; 
    font-size: 20px; 
    text-shadow: 0px 0px 5px rgba(20, 27, 46, 0.6)
}

.key-info-figure {
    font-weight: 200; 
    color: white; 
    font-size: 52px; 
    text-shadow: 0px 0px 5px rgba(20, 27, 46, 0.6)
}

.key-info-rating {
    font-weight: 300; 
    color: white; 
    font-size: 18px; 
    text-shadow: 0px 0px 5px rgba(20, 27, 46, 0.6)
}

.about-container {
    background-color: #141b2e;
    color: white;
}

.content-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333;
}

p {
    line-height: 24px;
}