<div style="display: flex; flex-direction: column; align-items: center; padding-top: 120px; width: 85%; margin: 0 auto">
  <span style="font-size: 48px; font-weight: 300">Which city suits <span style="color: #7c5a9d"><b>you</b></span> best?</span>
  <div layout="row" style="padding-top: 70px">
    <div class="preferences" layout="column">
        <span class="md-headline">What's important to you?</span>
        <span class="md-subhead">Rank how important these factors are to you (most important at the top).</span>
        <div psi-sortable="" ng-model="dataTypes">
          <div class="ordering" ng-repeat="(dataType, description) in dataTypes track by $index">{{dataType}}</div>
        </div>
      </md-card>
    </div>
    <div class="vertical-divider"></div>
    <div class="ranking" layout="column">
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span class="table-title">City Ranking per your Preferences</span>
        </div>
      </md-toolbar>
      <md-table-container>
        <table md-table ng-model="data" md-progress="promise">
          <thead md-head>
            <tr md-row>
              <th md-column class="column-heading">City</th>
              <th md-column class="column-heading" ng-repeat="(key, value) in dataTypes">
                <div><md-tooltip md-direction="top">{{value}}</md-tooltip>{{key}}</div>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="data" md-select-id="name" md-auto-select ng-repeat="datum in data">
              <td md-cell>{{datum.city}}</td>
              <td md-cell>£{{datum.rent.median}}</td>
              <td md-cell>{{datum.nightlife.rating}}</td>
              <td md-cell>{{datum.broadband.speed}}</td>
              <td md-cell>£{{datum.food.foodAverage}}</td>
              <td md-cell>{{datum.crimeData.total}}</td>
              <td md-cell>£{{datum.wages.average}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </div>
</div>
