body {
  background-color: white;
}

.preferences {
  flex: 0 0 350px;
  margin-right: 50px;
  margin-top: 30px;
  text-align: center;
}

.ranking-table {
    margin-top: 30px;
}

.ranking-table.ng-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform: translate3d(0, 10%, 0);
}
.ranking-table.ng-enter-active {
    transform: none;
}

.md-headline {
  margin-bottom: 10px;
}

.md-subhead {
  margin-bottom: 20px;
}

.ordering {
  background-color: #7c5a9d;
  color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  cursor: move;
  text-align: center;
  width: 250px;
}

.ranking {
  margin-left: 30px;
  margin-top: 15px;
  flex-grow: 1;
}

.table-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: auto;
}

.ranking {
  margin-left: 40px;
}

.column-heading {
  color: #7c5a9d !important;
  cursor: pointer;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.vertical-divider {
   border-left:1px solid #e0e0e0;
   border-right:1px solid #e0e0e0;
}

.active-preference {
    display: flex;
    align-items: center;
    width: 130px;
    height: 36px;
    border-radius: 30px;
    background-color: #7c5a9d;
    margin-right: 10px;
    cursor: move;
}

.inactive-preference {
    display: flex;
    align-items: center;
    width: 130px;
    height: 36px;
    border-radius: 30px;
    background-color: #bbb;
    margin-right: 10px;
}

.preference-content {
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0 16px;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between
}

.preference-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100% ;
    font-size: 14px
}

.preference-icon {
    display: flex;
    align-items: center;
    cursor: pointer
}

.inactive-column {
    color: #666;
}

.active-column {
    color: #000;
}

.city-cell {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin: 16px 0;
    outline: 0;
    cursor: pointer;
}

.city-cell:hover {
    color: #7c5a9d;
}
