<div style="display: flex; flex-direction: column; align-items: center; padding-top: 120px; padding-bottom: 60px; width: 70%; margin: 0 auto">
    <span style="font-size: 48px; font-weight: 300">Which city suits <span style="color: #7c5a9d"><b>you</b></span> best?</span>

    <div style="display: flex; flex-direction: column; margin-top: 40px; width: 100%">

        <!-- Introduction -->
        <span class="md-headline">What's important to you?</span>
        <span class="md-subhead">Select the factors you care about and order them by how important they are to you.</span>

        <!-- Active preferences -->
        <div ui-sortable="{ 'ui-floating': true }" style="display: flex; margin-top: 10px" ng-model="active">
            <div ng-repeat="x in active track by $index">
                <div class="active-preference" ng-mouseenter="x.icon='close'" ng-mouseleave="x.icon=''">
                    <div class="preference-content">
                        <div class="preference-text">
                            {{$index+1}}. {{x.name}}
                        </div>
                        <div ng-click="deactivate(x)" class="preference-icon">
                            <i class='material-icons' style="font-size: 16px">{{x.icon}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inactive preferences -->
        <div ui-sortable="{ 'ui-floating': true }" style="display: flex" ng-model="inactive">
            <div style="display: flex; margin-top: 20px">
                <div ng-repeat="x in inactive track by $index">
                    <div class="inactive-preference" ng-mouseenter="x.icon='add'" ng-mouseleave="x.icon=''" >
                        <div class="preference-content">
                            <div class="preference-text">
                                {{x.name}}
                            </div>
                            <div ng-click="activate(x)" class="preference-icon">
                                <i class='material-icons' style="font-size: 18px">{{x.icon}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ranking table -->
        <md-table-container style="margin-top: 30px">
            <table md-table ng-model="cities" md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column class="column-heading">Ranking</th>
                        <th md-column class="column-heading">City</th>
                        <th md-column ng-repeat="(key, value) in dataTypes">
                            <div class="column-heading"><md-tooltip md-direction="top">{{value.description}}</md-tooltip>{{value.name}}</div>
                        </th>
                        <th md-column class="column-heading">
                          <div><md-tooltip md-direction="top">The total rating of the city, considering any factors you've ranked</md-tooltip>Rating</div>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="cities" md-select-id="name" md-auto-select ng-repeat="city in cities | orderBy:'-totalRating'">
                        <td md-cell>{{$index+1}}</td>
                        <td md-cell>{{city.city}}</td>
                        <td md-cell><a ng-class="{'active-column': check('Rent')}">£{{city.rent.median}}</a></td>
                        <td md-cell><a ng-class="{'active-column': check('Nightlife')}">{{city.nightlife.rating}}</a></td>
                        <td md-cell><a ng-class="{'active-column': check('Broadband')}">{{city.broadband.speed}}</a></td>
                        <td md-cell><a ng-class="{'active-column': check('Food')}">£{{city.food.foodAverage}}</a></td>
                        <td md-cell><a ng-class="{'active-column': check('Crime')}">{{city.crimeData.total}}</a></td>
                        <td md-cell><a ng-class="{'active-column': check('Wage')}">£{{city.wages.averageWage}}</a></td>
                        <td md-cell>{{city.totalRating}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

    </div>
</div>
